@import '/src/styles.css';

.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    padding-left: 10px;
    color: var(--accentColor);
}

.call-button{
    padding-right: 10px;
    .p-button{
        background: var(--accentColor);
    }
    .p-button-label{
        color: black;
    }
}